

body
{
    background-color: black;
}
div{
    background: black;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    transition: all 0.4s ease;
    margin-bottom: 20px;
}
input
{
   border: white;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}